[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
aws-lambda-api-builder = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"
